<!-- <video #videoplayer  [poster]="'./assets/images/movie-posters/'+(selectedMovie$ | async)?.img" id="bgvid" playsinline autoplay [muted]='muteTrailer$ | async'>
  <source [src]="'./assets/videos/movie-trailers/'+(selectedMovie$ | async)?.key+'.mp4'" type="video/mp4">
</video> -->
<video #videoplayer [src]="'http://code.fairmutex.com/projects/web/movie-app/assets/videos/movie-trailers/'+(selectedMovie$ | async)?.key+'.mp4'" [poster]="'http://code.fairmutex.com/projects/web/movie-app/assets/images/movie-posters/'+(selectedMovie$ | async)?.img" id="bgvid" playsinline autoplay [muted]='muteTrailer$ | async'>

</video> 

<div class='movie-skin'>
    <div class='movie'>
        <header class='movie-header'>
            <nav>
                <ol>
                    <li>
                        <div class="inputWithIcon">
                            <input type="search" required="" name="search" class="search-field" autocomplete="off" #moviesearch placeholder="e.g Fight Club" value="" (keyup)="checkIfSearchIsEmpty(moviesearch.value)" (keyup.enter)="search(moviesearch.value)">
                            <i class="fas fa-search fa-lg" aria-hidden="true" (click)="search(moviesearch.value)"></i>
                        </div>
                    </li>
                    <li>
                        <div class="inputWithIcon">
                            <select (change)="genre($event.target.value)" #select>
                                <option value="" selected disabled hidden>By Genre</option>
                                <option *ngFor="let item of categories | keysFilter" [value]="item.value">{{item.value | titlecase}}</option>
                            </select>
                            <i style='pointer-events:none;' class="fas fa-chevron-down fa-lg" aria-hidden="true"></i>

                        </div>
                    </li>
                </ol>
            </nav>
        </header>
        <div class='movie-shell-container'>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>